<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->

    <bean id="bean1" class="Bean1" name="bean1_1,bean1_2"></bean>
    <alias name="bean1" alias="bean1_3"></alias>
    <bean class="Bean2Factory" factory-method="getBean2" id="bean2"></bean>

    <bean class="Bean3Factory" id="bean3Factory"></bean>
    <bean class="Bean3" factory-bean="bean3Factory"  factory-method="getBean3" id="bean3"></bean>
</beans>